@import '~/styles/configs/variables.scss';

.submit-input {
	background-color: $blue-100;
	color: $white-100;
	border: 1px solid $blue-100;
	padding: 12px 16px;
	border-radius: 4px;
	cursor: pointer;

	&:disabled {
		background-color: transparentize($blue-20, 0.8);
		color: $blue-100;
	}

}