# MAIN
dist
.solid
.output
.vercel
.netlify
.vinxi

# ENVIRONMENT
.env
.env*.local

# DEPENDENCIES
/node_modules

# IDES AND EDITORS
/.idea
.project
.classpath
*.launch
.settings/

# TEMP
gitignore

# SYSTEM FILES
.DS_Store
Thumbs.db
