@import '~/styles/configs/variables.scss';

.text-input {

	&__label {
		display: block;
		margin-bottom: 9px;
		color: $blue-100;
	}

	&__field {
		width: 100%;
		padding: 8px;
		border-radius: 4px;
		border: 1px solid $blue-60;
	}

}