.preview {
	display: grid;
	place-items: center;
	background-color: lightgrey;
	padding: 32px;

	&__document, .document {
		position: relative;
		background-color: white;
		width: 800px;
		aspect-ratio: 1 / 1.414;
		overflow-y: scroll;
		box-shadow: transparentize(black, 0.85) 0 12px 32px -4px, transparentize(black, 0.85) 0px 8px 16px -8px;

		&__spacer, .spacer {
			position: sticky;
			right: 0;
			left: 0;
			height: 40px;

			&--top {
				top: 0;
				background: linear-gradient(180deg, white, transparent);
			}

			&--bottom {
				bottom: 0;
				background: linear-gradient(0deg, white, transparent);
			}

		}

		&__container, .container {
			padding: 64px;

			.block {
				margin-bottom: 24px;
			}

			.heading {
				margin-bottom: 32px;
			}

			.subheading {
				margin-bottom: 4px;
			}

			.two-column-list {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 32px;
				margin-bottom: 12px;
			}

			.list {

				&__row {
					margin-left: 24px;
				}

			}

			.paragraph {
				margin-bottom: 8px;
			}

			.signatures {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 32px;

				&__image {
					display: inline-block;
					width: 75%;
					aspect-ratio: 2 / 1;
				}

				&__line {
					height: 1px;
					width: 100%;
					border-bottom: 1px dotted black;
					margin: 0 0 8px 0;
				}

				&__infos {
					display: grid;
					grid-template-columns: 1fr auto;
				}

			}

		}

	}

}