@import '~/styles/configs/variables.scss';

*::-webkit-scrollbar {
	width: 2px !important;
}

*::-webkit-scrollbar-track {
	background: $white-100;
}

*::-webkit-scrollbar-thumb {
	background: $black-100;
}

body::-webkit-scrollbar {
	width: 0 !important;
}

body::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none;
}
